:root {
  --gray: #858694;
  --light-gray: #e0e0e0;
  --orange: #f5913e;
}

#calculator {
  margin: 6rem;
  width: 15rem;
}

#my-calculator {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  width: 25rem;
}

#output-screen {
  background-color: var(--gray);
  display: flex;
  width: 100%;
  height: 4rem;
  margin-bottom: 1px;
}

#inputs {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#input-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

#operation-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1px;
}

.input {
  border: none;
  height: 3rem;
}

.fill {
  grid-column: span 2;
}

.operations {
  border: none;
  background-color: var(--orange);
}
